<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>949277141490-p06ic2i278v1oqak20ngk3qslvke1nmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949277141490-p06ic2i278v1oqak20ngk3qslvke1nmr</string>
	<key>API_KEY</key>
	<string>AIzaSyDi9ZNAMD1x1d9igMp-M_Umx3LhsWXyG_g</string>
	<key>GCM_SENDER_ID</key>
	<string>949277141490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Alphacamp.bookApp</string>
	<key>PROJECT_ID</key>
	<string>bookapptest-1a8da</string>
	<key>STORAGE_BUCKET</key>
	<string>bookapptest-1a8da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:949277141490:ios:6d57937b30c70e63</string>
	<key>DATABASE_URL</key>
	<string>https://bookapptest-1a8da.firebaseio.com</string>
</dict>
</plist>